<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div class="container-fluid">
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" href="{% url 'acceuil' %}">Accueil twin6</a>
        <div class="collapse navbar-collapse">
            <ul>
                <li class="nav-item"><a class="nav-link" href="{% url 'LV' %}">Affiche</a></li>
                <li class="nav-item"><a class="nav-link" href="{% url 'ajout' %}">Ajout</a></li>
                <li class="nav-item"><a class="nav-link" href="{% url 'login' %}>Login</a></li>
                <li class="nav-item"><a class="nav-link" href="{% url 'register' %}>register</a></li>

            </ul>
        </div>
    </nav>

</div>

</body>
</html>